{% extends "base.html" %}

{% block bodyClass %}home{% endblock %}

{% block subtitle %}
    Best films for {{ date }} in {{ market.name }}
{% endblock %}

{% block content %}
  <ol class="">
    {% for (i, s) in showing %}
      <li class="column width-100 film-listing">
        <a href="{{ s.film.lm_id }}" alt="{{ s.film.tite }}" title="{{ s.film.title }}">
          <img class="film-image inline-top" src="{{ s.film.img }}" alt="{{ s.film.title }}">
          <span class="text-ordinal">{{ i+1 }}</span>
        </a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
