/*/* -- Here we go! Global CSS Styles below -- */

/*body
{
    background-color: black;

    font-family: sans-serif;
    color: white;
    font-size: 12px;
}

a
{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

a.visited
{
    color: white;
    text-decoration: none;
}


/* -- Div Styles -- */

/*.leftwrapper
{
    display:inline-block;
    width: 30%;
    background-color: #ee3e64;
}

.rightwrapper
{
    display:inline-block;
    width: 30%;
    background-color: #ee3e64;
}

.landmashWrapper
{
    display: inline-block;

    width: 40%;
    padding-top: 20px;
    padding-bottom: 10px;
    //padding-left: 400px;

    background-color: yellow;
    .filmContainer
    {
        padding: 10px;
        background-color: blue;

        .ordinals
        {
            display: inline-block;
            position: relative;
            float: left;
            clear: none;


            padding: 10px;
            height: 25px;

            color: white;
            font-size: 16px;
            text-decoration: none;

            background-color: pink;
        }
        .imgContainer
        {
            position: relative;
            display: inline-block;
            clear: none;
            // float: left;

            width: 475px;
            padding: 10px;
            background-color: green;
        }
        .ratings
        {
            position: relative;
            display: inline-block;
            clear: none;

            margin: 10px;

            background-color: purple;

            .ratingsLink
            {
                /*display: block;*/

                /*padding: 10px;
                margin: 10px;
                background-color: red;
            }
        }
    }
}*/


/*ul, li
{
    list-style: none;
    list-style-type: none;
}*/



